{% extends 'lexiconapp/base.html' %} {% block body_block %}
<div>
  {% for item in items%}
  <div class="card" style="width: 18rem">
    <img src="{{item.images}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-item">{{item.brand}}</p>
      <p class="card-item">{{item.description}}</p>
      <p class="card-item">{{item.price}}</p>
      <a href="#" class="btn btn-primary">ADD</a>
    </div>
    <a href="lexiconapp/add/">Add product</a>
    <a href="lexiconapp/delete/{{ item.id }}">delete product</a>
    <a href="lexiconapp/update/{{ item.id }}">Edit product</a>
  </div>
  {% endfor %}
</div>

{% endblock %} 
<!-- test -->