{% extends 'lexiconapp/base.html' %} {% block body_block %}
<div>
  {% if items|length <  1 %}
  <p> No search results found</p>
  your search -<b>{{query}} - did not match any documents.<br>
    suggesstions:<br>
    <ul>
<li>Try different suggetions</li>

    </ul>
  {% endif %}
  {% for item in items %}
  <div class="card" style="width: 18rem">
    <img src="{{item.images}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-item">{{item.brand}}</p>
      <p class="card-item">{{item.description}}</p>
      <p class="card-item">{{item.price}}</p>
      <a href="#" class="btn btn-primary">ADD</a>
    </div>
    {% if user.is_superuser %}
    <a href="lexiconapp/update/{{ item.id }}">Edit product</a>
    <a href="lexiconapp/delete/{{ item.id }}">delete product</a>
    {% else %} {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
<!-- test -->
