{% extends 'lexiconapp/base.html' %}  {% load crispy_forms_tags %} {% block body_block %}
{% load static %}
<section >
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
            src="{{ user.profile.image.url }}"
              {% comment %} src="{{request.user.customer.avatar.url}}" {% endcomment %}
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <h5 class="my-3">{{user.profile.name}}</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
      <!-- User form -->
      {{ p_form|crispy }}
               
              </fieldset>
              <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
                 <a  href="{% url 'profile' %}" class="btn btn-outline-info">Cancel</a>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
